
<h1>Show Make</h1>

<p>
<strong>Make:</strong>
<%=@make.make%>
</p>

<td><%= link_to 'Edit', edit_make_path( @make )%></td>
<td><%= link_to 'Destroy', make_path( @make ), method: :delete, data: { confirm: 'Are you sure you want to delete this, Punk?' } %></td>
 

